<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ title }}</title>
    
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
      .avatar { height: 100px; width: 100px; }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">{{ site.author }}</a></h1>
        <p>
          I write about building web apps using
          <a href="http://en.wikipedia.org/wiki/Functional_programming">FP</a>.
          Mostly
          <a href="http://clojure.org/">Clojure</a> and
          <a href="https://github.com/clojure/clojurescript">ClojureScript</a>.
        </p>
      </header>
      <section>

        {{ content }}

      </section>
      <footer>
        <p>
          Stalk me on
          <a href="http://twitter.com/logaan">Twitter</a> or
          <a href="http://github.com/logaan">GitHub</a>.
        </p>
        <p>
          <small>
            Hosted on <a href="http://pages.github.com/">GitHub Pages</a>
            &mdash; Theme by <a href="https://github.com/orderedlist">
            orderedlist</a>
          </small>
        </p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>
